body{
    min-height: 100vh;
    font-family: Inter, sans-serif;
    font-size: 1.125rem;
    line-height: 1.66;
    --tw-text-opacity: 1;
    color: rgb(25 25 25 / var(--tw-text-opacity));
}

.font-dmSans{
    font-family: DM Sans, sans-serif;
}

.bg-theme{
    background-color: #efeae3;
}

.menu-button img{
    transform: rotate(90deg);
    transition: all 0.4s;}

.menu-button:hover img{
 transform: rotate(0deg);
}
.swiper-slide{
    width: fit-content;
}
.swiper-wrapper {
    -webkit-transition-timing-function:linear!important;
    -o-transition-timing-function:linear!important;
}